
 .table {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
 .table .header,  .table .row {
  display: flex;
}
 .table .header div,  .table .row div {
  flex: 1;
  padding: 0.2rem 0.4em;
  border: 1px solid #eeeeee;
}
 .table .header {
  background-color: #eeeeee;
}
 .table .header div {
  cursor: pointer;
}

.btn {
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.04em;
  display: inline-block;
}
.btn---svg {
  position: relative;
  height: 42px;
  width: 190px;
  overflow: hidden;
  border-radius: 21px;
}
.btn---svg:hover .btn--svg__circle circle {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.btn---svg:hover .btn--svg__label {
  color: #fff;
}
.btn---svg:hover .btn--svg__border--left path,
.btn---svg:hover .btn--svg__border--right path {
  stroke-dasharray: 61.8204345703125 61.8204345703125;
  stroke-dashoffset: 0;
  -webkit-transition-delay: 0.25s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-property: stroke-dashoffset;
  -moz-transition-delay: 0.25s;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-property: stroke-dashoffset;
  -ms-transition-delay: 0.25s;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in-out;
  -ms-transition-property: stroke-dashoffset;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: stroke-dashoffset;
          transition-property: stroke-dashoffset;
}
.btn---svg__label {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  z-index: 3;
  width: 100%;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.btn---svg__circle circle {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
  -moz-transition: transform 0.5s ease-in-out;
  -moz-transform: scale(1.1);
  -moz-transform-origin: 50% 50%;
  -ms-transition: transform 0.5s ease-in-out;
  -ms-transform: scale(1.1);
  -ms-transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.btn---svg__border--left path, .btn--svg__border--right path {
  stroke-dasharray: 61.8204345703125 61.8204345703125;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-property: stroke-dashoffset;
  -webkit-transition-delay: 0.5s;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-property: stroke-dashoffset;
  -moz-transition-delay: 0.5s;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: ease-in-out;
  -ms-transition-property: stroke-dashoffset;
  -ms-transition-delay: 0.5s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: stroke-dashoffset;
          transition-property: stroke-dashoffset;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.btn---svg__border--left path {
  stroke-dashoffset: -61.8204345703125;
}
.btn---svg__border--right path {
  stroke-dashoffset: 61.8204345703125;
}
.btn---svg svg, .btn---svg__label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
  -moz-transform: translate(-50%, -50%);
  -moz-transform-origin: 50% 50%;
  -ms-transform: translate(-50%, -50%);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.c-white {
  color: white;
}

.trailer {
  margin-bottom: 40px;
}
.trailer--nano {
  margin-bottom: 10px;
}

a {
  position: relative;
  text-decoration: none;
  color: #0047ff;
}
a:after {
  content: '';
  height: 1px;
  bottom: -4px;
  position: absolute;
  left: 5%;
  right: 95%;
  background: #2500ff;
  -webkit-transition: right 0.25s ease-in-out;
          transition: right 0.25s ease-in-out;
}
a:hover:after {
  right: 5%;
}

